h1
{ 	
text-align:center;
}
h2
{ 	
text-align:center;
}
h3
{ 	
text-align:center;
}
p
{ 	
text-align:center;
}

ol.none
{
  list-style-type: none;
}

ul.sqaredotlist 
{
  list-style-type: square;
}

nav
{
width:100%;
height: 30%;
float: left;
font-size: x-large;
font-weight: bold;
text-align: center;
padding-left: 10px;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgb(129, 207, 129);
color: black;
}

footer
{
    width:100%;
    height: 100%;
    float: left;
    text-align: center;
    padding-left: 50px;
    padding-top: 0;
    background-color: transparent;
    color: black;  
}

.image-container {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.image-container img {
    width: 100%;
    height: fit-content;
    display: block;
}

.image-heading {
    position: absolute;
    top: 0;
    left: 0;    
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: left;
    
    font-size: 24px;
    font-weight: bold;
    
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;    
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.image-text2 
{
    position: relative;
    bottom: 0;
    left: 0;    
    background-color: lightslategray ;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.highlight {
    font-style: italic;
    font-weight: normal;
    color: white;
    font-size: 20px;
    background-color: gray;
}



